<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Add/Review Clients Dogs</title>
  <link href="style/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../scripts/clientsDogs.js">
    </script>
</head>

<body>
    <header>
        <h1>Snoopy's Snazzy Styles</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="clients">Clients</a>
        <a href="dogs">Dogs</a>
        <a href="services">Services</a>
        <a href="sessions">Sessions</a>
        <a href="employees">Employees</a>
        <a href="schedules">Schedules</a>
        <a href="clientsDogs">Clients Dogs</a>

    </nav>
    <main>
        <section>
            <h2>Clients' Dogs</h2>
            <article>
                <h3>Add a new Client Dog pair :</h3>
                <form id="clientDogForm">
                <fieldset>
                    <label for="clientID">Client: </label> 
                        <select name="clientID" id="clientID" required >
                            <option value="0">select client</option>
                            <option value="1">Nzinga Fumnaya</option>
                            <option value="2">Pat Yonah</option> 
                            <option value="3">Karuna Yardena</option>
                        </select>
                        <br><br>
                    <label for="dogID">Dog: </label> 
                        <select name="dogID" id="dogID" required >
                            <option value="0">select dog</option>
                            <option value="1">Fido</option>
                            <option value="2">Nalla</option>
                            <option value="3">Ferdinand the Destroyer</option>
                            <option value="4">Leoford</option>
                            <option value="5">Lucky</option>
                        </select>
                        <br><br>
                </fieldset>
                <button type="submit">Add</button> 
                </form>
            </article>
            <br>
        </section>
        <section>
            <h3> All Clients</h3>
            <table id="clientsDogsTable">
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Dog</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr> 
            </table>

            <br>
            <div id="editClientDogForm" style="display: none;">
                <h3>Edit Client/Dog Information</h3>
                <form id="update-clientDog-form-ajax">
                    <label>ID:</label><label id="editClientDogID"></label><br><br>
                    <label>Client:</label> <input type="text" id="editClient" required><br><br>
                    <label>Dogs:</label> <input type="text" id="editDog" required><br><br>
                    <br>
                    <button type="submit" class="UpdateInfo">Update</button>
                </form>
                <br><br>
            </div>
        </section>
        
    </main>
    
</body>

</html>