<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Review/Add Employees</title>
  <link href="style/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../scripts/employees.js">
    </script>
</head>

<body>
    <header>
        <h1>Snoopy's Snazzy Styles</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="clients">Clients</a>
        <a href="dogs">Dogs</a>
        <a href="services">Services</a>
        <a href="sessions">Sessions</a>
        <a href="employees">Employees</a>
        <a href="schedules">Schedules</a>
        <a href="clientsDogs">Clients Dogs</a>
    </nav>
    <main>
        <section>
            <h2>Employees</h2>
            <article>
                <h3>Add a New Employee</h3>
                <form id="scheduleForm" action="submitEmployee" method="GET">
                    <fieldset>
                        <label>Employee Name: <input type="text" name="employeeName" required="required" id="employeeName" placeholder="first and last name"/><br><br></label>
                        <label>Wage: <input type="number" name="employeewage" required="required" id="employeewage" placeholder="00.00"/><br><br></label>
                        <label>Years Experience: <input type="number" name="employeeexperience" required="required" id="employeeexperience" placeholder="0"/><br><br></label>
                        <label>Phone Number: <input type="tel" name="employeePhone" required="required" id="employeePhone" placeholder="(000)-000-0000"/><br><br></label>
                        <label>Email: <input type="email" name="employeeEmail" required="required" id="employeeEmail" placeholder="name@host.com"/><br><br></label>
                        <label>Address: <input type="text" name="employeeAddress" required="required" id="employeeAddress" placeholder="000 Main Street"/><br><br> </label>
                        <label>Active: <input type="checkbox" name="employeeisActive" required="required" id="employeeisActive" /><br><br></label>
                    </fieldset>
                    <button type="submit">Add</button>
                </form>
        </section>
    <section>
        <h3>Current Employees</h3>
        <table id="employeeTable">
            <tr>
                <th>ID</th>
                <th>Employee</th>
                <th>Wage</th>
                <th>Years Experience</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Active</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr>
                <th>1</th>
                <td>Matija Tristin</td>
                <td>$18.20</td>
                <td>3</td>
                <td>(555)-555-5555</td>
                <td>matijatri@gmail.com</td>
                <td>123 Georgia Ln</td>
                <td>Yes</td>
                <td><button class="employeeEdit">Edit</button></td>
                <td><button type="button" class="employeeDelete">Delete</button></td>
            </tr>
            <tr>
                <th>2</th>
                <td>Marley Kirby</td>
                <td>$17.00</td>
                <td>1</td>
                <td>(503)-777-7777</td>
                <td>marleykir@gmail.com</td>
                <td>6 Main St.</td>
                <td>Yes</td>
                <td><button class="employeeEdit">Edit</button></td>
                <td><button type="button" class="employeeDelete">Delete</button></td>
            </tr>
            <tr>
                <th>3</th>
                <td>Zikomo Apoorva</td>
                <td>$23.80</td>
                <td>10</td>
                <td>(900)-999-9999</td>
                <td>zikomoapo@gmail.com</td>
                <td>700 Fall St.</td>
                <td>No</td>
                <td><button  class="employeeEdit">Edit</button></td>
                <td><button type="button" class="employeeDelete">Delete</button></td>
            </tr>
        </table>
        <br><br>
            <div id="editEmployeesForm" style="display: none;">
                <h3>Edit Employee Information</h3>
                <form >
                    <label>ID:</label><label id="editEmployeeID"></label><br><br>
                    <label>Name:</label> <input type="text" id="editEmployeesName" required="required"><br><br>
                    <label>Wage:</label> <input type="number" id="editEmployeesWage" required><br><br>
                    <label>Years Experience:</label> <input type="number" id="editEmployeesExperience" required><br><br>
                    <label>Phone number:</label> <input type="tel" id="editEmployeesPhone" required><br><br>
                    <label>Email:</label> <input type="text" id="editEmployeesEmail" required><br><br>
                    <label>Address:</label> <input type="email" id="editEmployeesAddress" required><br><br>
                    <label>Active:</label> <input type="text" id="editEmployeesActive" required><br><br>
                    <br>
                    <button type="submit" class="UpdateInfo">Update</button>
                </form>
                <br><br>
            </div>
    </section>
   
</body>

</html>