<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Snoopy’s Snazzy Styles Home Page</title>
  <link href="style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
      <h1>Snoopy's Snazzy Styles</h1>
      <nav class="navigator">
          <a class="active" href="/">Home</a>
          <a href="clients">Clients</a>
          <a href="dogs">Dogs</a>
          <a href="services">Services</a>
          <a href="sessions">Sessions</a>
          <a href="employees">Employees</a>
          <a href="schedules">Schedules</a>
          <a href="clientsDogs">Clients Dogs</a>
      </nav>
  </header>

  <br><br><img src="img/snoopy.png" alt="fluffy snoopy"/>
</body>

</html>