<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Review/Add Services</title>
  <link href="style/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../scripts/services.js">
    </script>
</head>

<body>
    <header>
        <h1>Snoopy's Snazzy Styles</h1>
        <nav class="navigator">
            <a href="/">Home</a>
            <a href="clients">Clients</a>
            <a href="dogs">Dogs</a>
            <a class="active" href="services">Services</a>
            <a href="sessions">Sessions</a>
            <a href="employees">Employees</a>
            <a href="schedules">Schedules</a>
            <a href="clientsDogs">Clients Dogs</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Services</h2>
            <article>
                <h3>Submit a new Service</h3>
                    <form id="serviceForm" action="submitService" method="GET">
                        <fieldset>
                            <label>Service Name: <input type="text"required="required" id="ServiceName" placeholder="haircut"/><br><br></label>
                            <label> Service Duration: <input type="number"required="required" id="servDur" placeholder="00"/> min <br><br></label>
                            <label>Service Price: <input type="number"required="required" id="servPrice" placeholder="00.00"/></label>
                            
                        </fieldset>
                        <input type="submit" value="Submit"/>
                    </form>
                </article>
        </section>
        <section>
            <h3>Current Services</h3>
            <table id="servicesTable">
                <tr>
                    <th>ServiceID</th>
                    <th>Service</th>
                    <th>Duration</th>
                    <th>Price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </table>
            <br><br>
            <div id="updateServiceForm" style="display: none;">
                <h3>Edit Service Information</h3>
                <form>
                    <label>ID:</label><label id="editServiceID"></label><br><br>
                    <label>Service Name:</label> <input type="text" id="editServiceName" required><br><br>
                    <label>Duration:</label> <input type="number" id="editServiceDuration" required><label> min</label><br><br>
                    <label>Price:</label> <input type="number" id="editServicePrice" required><br><br>
                    <br>
                    <input type="submit" value="Update"/>
                </form>
                <br><br>
            </div>
        </section>
        
    </main>
</body>

</html>