<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Review/Add Sessions</title>
  <link href="style/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="../scripts/sessions.js">
  </script>
</head>

<body>
    <header>
        <h1>   Snoopy's Snazzy Styles</h1>
        <nav class="navigator">
            <a href="/">Home</a>
            <a href="clients">Clients</a>
            <a href="dogs">Dogs</a>
            <a href="services">Services</a>
            <a class="active" href="sessions">Sessions</a>
            <a href="employees">Employees</a>
            <a href="schedules">Schedules</a>
            <a href="clientsDogs">Clients Dogs</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Sessions</h2>
            <article>
                <h3>Create a new session</h3>
                <form id="sessionForm">
                <fieldset>
                    <label for="employeeID">Employee: </label> 
                        <select name="employeeID" id="employeeID" class= "employee-dropdown" required >
                            <option value="" disabled selected hidden>Select Employee</option>
                        </select>
                        <br><br>
                    <label for="clientID">Client: </label> 
                        <select name="clientID" id="clientID" class= "client-dropdown" required>
                            <option value="" disabled selected hidden>Select Client</option>
                        </select>
                        <br><br>
                    <label for="dogID">Dog: </label> 
                        <select name="dogID" id="dogID" class= "dog-dropdown"required >
                            <option value="" disabled selected hidden>Select Dog</option>
                        </select>
                        <br><br>
                    <label>Session Time: <input type="datetime-local" name="sessionTime" required id="sessionTime"/><br><br>
                    <label>Actual Duration:</label> <input type="number" name="duration" id="sessionDuration"  placeholder="00"/> min <br><br>
                    <label>Total Price:</label> <input type="number" name="totalPrice" id="sessionPrice" required placeholder="00.00" /><br><br>
                    
                    <div id="serviceEntry"> <label for="service_id">Services: </label> <div id="service_id" class = "service_id">
                    <select name="s" id="service_idSelect" required >
                    </select> <button type="button" onclick="addService()">Add Service</button> <button type="button" onclick="removeService()">Remove Service</button> </div></div>
                    <br><br>
                    <label>Status:</label>
                        <br>
                        <input type="radio" id="pending" name="sessionStatus" value="pending"><label for="pending"> Pending </label><br>
                        <input type="radio" id="completed" name="sessionStatus" value="completed"><label for="completed"> Completed </label><br>
                        <input type="radio" id="canceled" name="sessionStatus" value="canceled"><label for="canceled"> Canceled </label><br>
                        <input type="radio" id="no show" name="sessionStatus" value="no show"><label for="no show"> No Show</label><br>    
                        <br>
                </fieldset>
                <button type="submit">Create</button> 
                </form>
            </article>
        </section>
        <br><button onclick="scrollToIntersection()">See Session Services</button>
        <section>
            <br><br>
            <table id="sessionTable">
                <tr>
                    <th>ID</th>
                    <th>Employee</th>
                    <th>Client</th>
                    <th>Dog</th>
                    <th>Session Time</th>
                    <th>Actual Duration</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>  
            </table>
            <br><br>
            <div id="editSessionForm" style="display: none;">
                <h3>Edit Session Information</h3>
                <form id="update-session-form-ajax">
                    <label>ID:</label><label id="editSessionID"></label><br><br>
                    <label for="editSessionEmployee">Employee: </label> 
                        <select name="employeeID" id="editSessionEmployee" class= "employee-dropdown" required >
                            <option value="0" disabled selected hidden>Select Employee</option>
                        </select>
                        <br><br>
                    <label for="editSessionClient">Client: </label> 
                        <select name="clientID" id="editSessionClient" class= "client-dropdown" required >
                            <option value="0" disabled selected hidden>Select Client</option>
                        </select>
                        <br><br>
                    <label for="editSessionDog">Dog: </label> 
                        <select name="dogID" id="editSessionDog" class= "dog-dropdown"required >
                            <option value="0" disabled selected hidden>Select Dog</option>
                        </select>
                        <br><br>
                    <label>Time:</label> <input type="datetime-local" id="editSessionTime" required><br><br>
                    <label>Duration:</label> <input type="number" id="editSessionDuration"placeholder="00"/> min<br><br>
                    <label>Price:</label> <input type="number" id="editSessionPrice" required><br><br>
                    <label>Status:</label> <input type="text" id="editSessionStatus" required><br><br>
                    <br>
                    <button type="submit" class="UpdateInfo">Update</button>
                </form>
                <br><br>
            </div>
        </section>
        <section class="availability" id="avSection">
            <h3>Employee Availability</h3>
        <label for="start">Start date:</label>
        <input type="date" id="startDate" name="startDate" min="2024-02-01" onchange="refreshAvailabilityTable()"/>
        <label for="start">End date:</label>
        <input type="date" id="endDate" name="endDate" min="2024-02-01" onchange="refreshAvailabilityTable()"/>
        <table id="availabilityTable">
            <tr>
                <th>Employee</th>
                <th>Date</th>
                <th>Day Start</th>
                <th>To</th>
                <th>From</th>
                <th>To</th>
                <th>From</th>
                <th>To</th>
                <th>From</th>
                <th>To</th>
                <th>From</th>
                <th>To</th>
                <th>From</th>
                <th>To</th>
                <th>From</th>
                <th>To</th>
                <th>From</th>
                <th>Day End</th>
            </tr>
        </table>
        </section>
        <section>
            <h2>Sessions Services</h2>
            <article>
                <h3>Add a Service to a Session:</h3>
                <form id="sessionServiceForm" action="submitSession" method="POST">
                <fieldset>
                    <label for="sessionID">SessionID: </label> 
                        <select name="sessionID" id="sessionID" required >
                            <option value="0">Select Session</option>
                        </select>
                        <br><br>
                    <label for="service">Service: </label> 
                        <select name="service" id="service" required >
                            <option value="0">Select Service</option>
                        </select>
                        <br><br>
                </fieldset>
                <button type="submit">Create</button> 
                </form>
            </article>
        </section>
        <section>
            <br><br>
            <table id="sessionServiceTable">
                <tr>  <!--  -->
                    <th>SessionID</th>
                    <th>Services</th>
                    <th>Delete</th>
                </tr> 
            </table>

        </section>
               
    </main>
    
</body>

</html>